<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github-ro" value="https://nuget.pkg.github.com/thosch1800/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="thosch1800" />
            <add key="ClearTextPassword" value="dcf8366f7a890aef63e46af20a5790ce942cd3ca" />
        </github>
    </packageSourceCredentials>
</configuration>